@inherits Umbraco.Web.Common.AspNetCore.UmbracoViewPage
@using Umbraco.Core
@using Umbraco.Core.Models.PublishedContent
@using Umbraco.Web.Routing
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@{
    var site = Model.Root();
    var selection = site.Children.Where(x => x.IsVisible(PublishedValueFallback));
}
<!-- comment out the following line if you want to remove the root node name from the top navigation -->
<a class="nav-link @Html.Raw(Model.Id == site.Id ? "navi-link--active" : "")" href="@site.Url(PublishedUrlProvider))">@site.Name</a>
@foreach (var item in selection)
{
    <a class="nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
}